<div class="container">
  <div class="row justify-content-center my-5">
    <% @movies.each do |movie| %>
      <div class="col-md-3 my-3 text-center">
        <div class="card border-warning mb-3 h-100">
          <div class="card-header">
          <%= link_to movie_path(movie['id']), data: {"turbolinks" => false} do %>
          <%= image_tag 'https://image.tmdb.org/t/p/w342' + movie.image, class: 'card-img' %>
          <% end %>
          </div>
          <div class="card-body">
            <p class="card-text"><%= link_to movie.name, movie_path(movie['id']), data: {"turbolinks" => false},class:"btn btn-link" %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <div class="row">
    <div class="my-5" style="max-width: 300px; margin: 0 auto;">
      <h3><%= paginate @movies %></h3>
    </div>
  </div>
</div>