<div class="container">
  <div class="row">
    <div class="col-bd-10 mt-2">
      <!--軽い説明-->
      <div class="text-center mt-2">
        <p class="text-warning pt-2">ようこそ、こちらは映画のレビューサイトです。</p>
        <p class="text-warning py-2">アカウントをお持ちでない方は新規登録をお願いします。</p>
        <p class="text-warning pb-2">ゲストでもログインすることができます。</p>
      </div>
    </div>
  </div>
  <div class="row my-3 text-center">
    <div class="col-bd-10">
      <div id="example-2" class="carousel slide" data-ride="carousel" style="width:100%">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'cinema_top1.jpg' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'cinema_top2.jpg' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'cinema_top3.jpg' %>
          </div>

          <a class="carousel-control-prev" href="#example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

